<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar fixed-top navbar-expand-lg  navbar-dark bg-dark" >

  <a style="color: white" class="navbar-brand AskClass "> <span class="logo">Ask</span>FM</a>

  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav ml-auto">

<!--      <li class="nav-item my-2 my-lg-0  fa fa-home"><a class="nav-link" routerLinkActive="active" routerLink="/home" >Home</a> </li>-->
      <li class="nav-item my-2 my-lg-0 "><a class="nav-link" routerLinkActive="active" routerLink="/home" > <span class=" fa fa-home"></span>  </a> </li>


<!--      <li class="nav-item my-2 my-lg-0 "><a class="nav-link" routerLinkActive="active" routerLink="/question">Question</a> </li>-->
      <li class="nav-item my-2 my-lg-0"><a class="nav-link" routerLinkActive="active" routerLink="/question"> <span class="fa fa-question"></span> </a> </li>


<!--      <li class="nav-item my-2 my-lg-0 "><a class="nav-link" routerLinkActive="active" routerLink="/ask">Ask</a> </li>-->
      <li class="nav-item my-2 my-lg-0 "><a class="nav-link" routerLinkActive="active" routerLink="/ask"> <span class="fa fa-comments"></span> </a> </li>


<!--      <li class="nav-item my-2 my-lg-0 "><a class="nav-link" routerLinkActive="active" routerLink="/profile" >Profile</a></li>-->
      <li class="nav-item my-2 my-lg-0 "><a class="nav-link" routerLinkActive="active" routerLink="/profile" > <span class="fa fa-user"></span></a></li>


<!--      <li class="nav-item my-2 my-lg-0 "><a class="nav-link" routerLinkActive="active" routerLink="/friends">Friends</a></li>-->
      <li class="nav-item my-2 my-lg-0 "><a class="nav-link" routerLinkActive="active" routerLink="/friends"><span class="fa fa-users"></span> </a></li>


<!--      <li class="nav-item my-2 my-lg-0 "><a class="nav-link" routerLinkActive="active" routerLink="/notification">Notification </a></li>-->
      <li class="nav-item my-2 my-lg-0 "><a class="nav-link" routerLinkActive="active" routerLink="/notification"><span class="fa fa-bell"></span> </a></li>


<!--      <li class="nav-item my-2 my-lg-0 "><a class="nav-link" routerLinkActive="active" routerLink="/setting">Setting</a> </li>-->
      <li class="nav-item my-2 my-lg-0  "><a class="nav-link" routerLinkActive="active" routerLink="/setting"><span class="fa fa-cogs"> </span></a> </li>


      <li > <button class="btn btn-outline-primary loginButton" (click)="onLogin()">Login</button> </li>

      <li > <button class="btn btn-outline-danger loginButton" (click)="onLogout()">Logout</button> </li>

    </ul>
  </div>

</nav>
