<div style="width: 90%">
  <!--  this is our for loop -->
  <div class="post" style=" padding: 20px" *ngFor="let answer of answerQuestion">
    <section  class="question ">
      <div>
        <h3 class="h3">{{answer.question}} </h3>
        <a href="#">{{answer.email}}</a>
      </div>
      <div class="answer">
        <p> {{answer.answer}}</p>
      </div>

      <footer>
        <div class="one">
          <i class="fa fa-heart fa-lg" aria-hidden="true"></i>
        </div>
        <div class="two">
          <i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i>
          <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
          <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
        </div>
      </footer>
      <div class="clear"></div>

    </section>

  </div>





</div>

