<!-- --------------------------------------------- start Post ----------------------------------- -->
<div style="width: 95%">

  <div class="row" style="margin-top: 55px">

    <div class="col-xl-8" style="margin-left:50px ">

<!--    this will for loop it   -->
      <div class="container" *ngFor="let post of Posts">
        <div class="post col-md-8 col-xs-12">

          <section style="margin-top: 20px">
            <div class="question">
              <div style="border: 2px solid red">
                <div>
                  <span class="text">{{post.question}}</span>
                  <div>
                    <img src="./other.svg" style="border: 2px solid red">
                    <a routerLink="/profile" [queryParams]="{user:post.email}">{{post.email}}</a>
                  </div>
                </div>
              </div>

             </div>
            <br>
<!--            end question-->

            <div class="answer">

                <div>
                  <img src="./other.svg" style="border: 3px solid red">
                  <span>{{post.user.fullName}}</span> <br>
                  <span>{{post.date | date}}</span>
                </div>

                <div>
                  <p>{{post.answer}}</p> <br>
                </div>

            </div>


          </section>


          <hr>
          <div class="row " style="width: 90%;margin: auto">
            <div class="col-xs-4">
              <i class="fa fa-heart-o" aria-hidden="true" style="font-size: 25px"></i>
            </div>
            <div class="col-xs-4" style="margin-left: 40%">
              <i class="fa fa-reply" aria-hidden="true" style="font-size: 25px; float: right" ></i>
            </div>
            <div class="col-xs-4" style="margin-left: 49%">
              <i class="fa fa-ellipsis-h" aria-hidden="true" style="font-size: 25px; float: right"></i>
            </div>

          </div>

        </div>
      </div>

<!-- -->

    </div>
<!--   left side -->


    <!-- --------------------------------------------- Start ask ----------------------------------- -->

    <div class="col-xl-3">
      <app-friend-stuff></app-friend-stuff>
    </div>


  </div>


</div>




