<!-- --------------------------------------------- start Post ----------------------------------- -->
<div style="width: 95%">

  <div class="row" style="margin-top: 55px">

    <div class="col-xl-8" style="margin-left:50px ">

<!--    this will for loop it   -->
      <div class="container" *ngFor="let post of Posts">
        <div class="post col-md-8 col-xs-12">

          <section style="margin-top: 20px">
            <div class="question">
              <div>
                <div>
                  <span class="text mb-3">{{post.question}}</span>
                  <div class="form-row">
                    <img class="col-md-1"  src="https://image.winudf.com/v2/image1/Y29tLmJ1bnR5YXBweC5hdnRhcm1ha2VyX3NjcmVlbl8wXzE1NjM0OTUwODFfMDg3/screen-0.jpg?fakeurl=1&type=.jpg" style="border-radius:50% ;width: 50px;height: 50px" >
                    <a class="col-md-4 " routerLink="/profile" [queryParams]="{user:post.email}">{{post.email}}</a>
                  </div>
                </div>
              </div>

             </div>
            <br>
<!--            end question-->

            <div class="answer">

                <div class="form-row">
                  <img class="col-md-1" src="https://lh3.googleusercontent.com/proxy/9f6gqRwin-q9TFnDKWR70Ta1EBhEDUQoVtCxQ2e_j_5HkudfKdMpklz3_zG866r7DCtxVj2sIx_jDJNlRVZcvo92TzRSWcKBxcKyuEvHr5dU72-ujnYZnA" style="border-radius:50% ;width: 50px;height: 50px">
                  <div class="col-md-4 ">
                    <span>{{post.user.fullName}}</span> <br>
                    <span>{{post.date | date}}</span>
                  </div>
                </div>

                <div>
                  <p>{{post.answer}}</p> <br>
                </div>

            </div>


          </section>


          <hr>
          <div class="row " style="width: 90%;margin: auto">
            <div class="col-xs-4">
              <i class="fa fa-heart-o" aria-hidden="true" style="font-size: 25px"></i>
            </div>
            <div class="col-xs-4" style="margin-left: 40%">
              <i class="fa fa-reply" aria-hidden="true" style="font-size: 25px; float: right" ></i>
            </div>
            <div class="col-xs-4" style="margin-left: 49%">
              <i class="fa fa-ellipsis-h" aria-hidden="true" style="font-size: 25px; float: right"></i>
            </div>

          </div>

        </div>
      </div>

<!-- -->

    </div>
<!--   left side -->


    <!-- --------------------------------------------- Start ask ----------------------------------- -->

    <div class="col-xl-3">
      <app-friend-stuff></app-friend-stuff>
    </div>


  </div>


</div>




