<div class="backdrop"  (click)="onNotAnswer()"></div>
<section class="ask_people">
  <form (ngSubmit)="onAnswerQuestion()" #answerQuestionForm="ngForm">
    <p>{{askerQuestion}} </p>
    <a *ngIf="askerName != 'NULL' " class="nav-link" routerLink="/profile" [queryParams]="{user: askerName}">{{askerName}}</a>
    <textarea placeholder="What, when, why… ask" ngModel name="ANSWER_QUESTION"  required>

    </textarea>
    <label>
       <i id="upfile1" style="font-size: 25px" class="fa fa-camera" aria-hidden="true"></i>
      <input type="file" id="file1"  name="file1" style="display:none" />
    </label>

    <button type="submit" class="answer" [disabled]="!answerQuestionForm.valid" >Answer <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
    <div class="clear"></div>
  </form>

</section>


